
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  gap: 15px;
}
h1{
  color: #188067;
  font-size: 2.5rem;
  text-align: center;
 margin: 5px;
}
.firstP{
  text-align: center;
  font-size: 1rem;
  margin: 5px;
}
section{

  background-color: white;
  padding: 20px 20px;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  width:clamp(200px,250px,300px);
  border-radius:15px;
  box-shadow: 0px 1px 5px rgba(87, 86, 86, 0.829);
}

.input{
  width: 200px;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 5px;
}
.submit{
  color: white;
  background-color: #188067;
}
button{
  padding:10px 15px;
  margin-top: 5px;
  background-color: #188067;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
span{
  font-weight: bold;
}
.error {
  color: red;
  font-size: 0.9em;
  align-self: flex-start;
}

table th, table td {
  padding: 10px; /* Adjust the padding as needed */
  text-align: left; /* Optional: Aligns text to the left */
  border: 1px solid #ddd; /* Optional: Adds a border around the cells */
}

table th {
  background-color: #f2f2f2; /* Optional: Adds a background color to the header */
}


@media screen and (min-width:576px){
section{
  width: clamp(300px,400px,450px);
  padding: 30px 0;
}
.input{
  width:clamp(290px,350px,390px);
}
}
@media screen and (min-width:768px){
  section{
    padding: 30px;
  }
  form{
    gap: 10px;
  }
  article{
    margin-top: 50px;
    margin-bottom: -20px;
  }
}
  @media screen and (min-width:992px){
    body article{
      margin-top: 50px;
      margin-bottom: -10px;
    }
  }
    @media screen and (min-width:1200px){}